 <!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Corrosion Calculation Model</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="page_wrap">
<div class="section bottom_line">
<h1 class="page_title"> Bottom of Line Corrosion Model </h1>
<h2 class="page_subtitle"><a href="\ns">Norsok!</a></h2>
<h2 class="page_subtitle"><a href="\fc">FreeCorp!</a></h2>
</div>
<div class="section top_line">
<h1 class="page_title"> Top of Line Corrosion Model </h1>
<h2 class="page_subtitle"><a href="\nb">Nyborg!</a></h2>
</div>
</div>
</body>
</html>

 
 
