 <!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Corrosion Calculation Model</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h1 style="text-align:center; color:blue;";> Bottom of Line Corrosion Model </h1>
<h2 style="text-align:center; color:black;"><a href="\ns">Norsok!</a></h2>
<h2 style="text-align:center; color:black;"><a href="\fc">FreeCorp!</a></h2>
<h1 style="text-align:center; color:black;";>  </h1>
<h1 style="text-align:center";>  </h1>
<h1 style="text-align:center; color:blue;"; > Top of Line Corrosion Model </h1>
<h2 style="text-align:center; color:black;;"><a href="\nb">Nyborg!</a></h2>

</body>
</html>

 
 
