<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Norsok Corrosion Model</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1>Norsok Corrosion Model</h1>

<body>

<div class="main">
	<form class="pure-form" method="POST" action="/ns">
	Temperature (degC):<br>
	<input type="text" name="temp" value = {{temp}}><br>
	Pressure (barg):<br>
	<input type="text" name="press" value = {{press}}><br>	
	CO2 fraction:<br>
	<input type="text" name="CO2fraction"  value = {{CO2fraction}}> <br>	
	Hold up:<br>
	<input type="text" name="holdup" value = {{holdup}} >  <br>	
	Gas flowrate (mmscfd):<br>
	<input type="text" name="gasrate" value = {{gasrate}} >  <br>	
	MW:<br>
	<input type="text" name="mw" value = {{mw}} >  <br>	
	Liquid flowrate (m3/hr):<br>
	<input type="text" name="vol_l" value = {{vol_l}} >  <br>	
	Density of liquid (kg/m3):<br>
	<input type="text" name="density_l" value = {{density_l}} >  <br>	
	Viscosity of liquid (cp):<br>
	<input type="text" name="vis_l" value = {{vis_l}} >  <br>	
	Viscosity of gas (cp):<br>
	<input type="text" name="vis_g" value = {{vis_g}} >  <br>	
	Pipeline diameter (m):<br>
	<input type="text" name="dia" value = {{dia}} >  <br>	
	Pipeline roughness (m):<br>
	<input type="text" name="roughness" value = {{roughness}} >  <br>	
	Bicarbonate :<br>
	<input type="text" name="bicarbonate" value = {{bicarbonate}} >  <br>	
	Ion strength :<br>
	<input type="text" name="ionstrength" value = {{ionstrength}} >  <br>	
	<button type="submit" class="pure-button pure-button-primary" value="Submit">Calculate</button>
	</form>
</div>

<br>

<div class="main">
	{% if ns_rate %}
	    <p>
	    <h1 style="border:2px solid Tomato;">
        {% print("The corrosion rate = {:.2f} mm/year".format(ns_rate)) %}
        </h1>
        </p>
	{% endif %}
	{% if ph %}
	    <p>
	    <h1 style="border:2px solid Tomato;">
        {% print("Calculated pH = {:.2f}".format(ph)) %}
        </h1>
        </p>
	{% endif %}
</div>
<h2 style="text-align:center;"><a href="\">Home</a></h2>
</body>